.acTitle {
    color: rgb(0, 132, 255);
    padding-left: 2%;
    padding-top: 5%;
    font-family: YuMincho;
}
.bluebox {
    background-color: rgb(188, 242, 252);
    margin: 0% 2%;
    padding: 2% 5%;
    border: solid;
    border-radius: 20px;
    border-color: rgb(0, 132, 255);
    font-family: YuMincho;
}
.col-sm {
    margin: 3%;
}
span {
	display: inline-block;
}
.paddingTop {
    padding-top: 5%;
}