// .center {
//     width: 120px;
//     padding-top: 10%;
//     color: aliceblue;
//     margin: 0 auto;
// }

// .recPic {
//     width: 100%;
//     height: 150px;
//     background: url(../../images/force/recruitment.png) top center / cover no-repeat;
// }

.box {
    margin: 10%;
    margin-bottom: 0%;
    border: solid;
    border-color: navy;
    padding: 5%;
    font-family: YuMincho;
}

.smalltitle {
    background-color: white;
    font-family: YuMincho;
    font-size: 25px;
    margin-top: -9%;
    margin-left: -11%;
    width: 250px;
    height: 40px;
    margin-bottom: 5%;
}   
.smalltitle span:nth-child(1) {
    color: red;
    font-family: YuMincho;
}
.spacer {
    padding-bottom: 5%;
    padding-left: 10%;
}
.textcenter {
    text-align: center;
    padding-top: 5%;
    font-family: YuMincho;
    font-size: 20px;
}
.sub_title {
    font-size: x-large;
}
.sub_contentsR {
    padding: 0 10%;
    font-size: 20px;
}