
.greet2 {
    width: 100%;
    position: relative;
    padding: 15%;
    padding-top: 250px;
    background: url(../../images/pic/stairs-LightGray.jpg);
}

.recheader h1 {
    position: relative;
    font-weight: bold;
    font-size: 2em;
    font-family: YuMincho;;
    left: 50%;
    // top: 5%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin-top:5%;
    padding:5;
    width: 350px;
    text-align: center;
    }

    .recheader p {
        position: relative;
          color: blue;
          font-weight: bold;
          font-size: 0.5em;
          font-family: YuMincho;;
          // top: 9%;
          left: 50%;
          -ms-transform: translate(-50%,-50%);
          -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          margin:0;
          padding:0;
          width: 350px;
          text-align: center;
      }
      

.greet2 div {
    position: relative;
    z-index: 2;
}

.recbox {
    position: relative;
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    border: 0.5rem solid;
    border-color: navy;
    padding: 5%;
    font-family: YuMincho;
    // background-color: aqua;
}

.smalltitle {
    font-family: YuMincho;
    font-size: 25px;
    width: 250px;
    height: 40px;
    margin-bottom: 5%;
}   
.smalltitle span:nth-child(1) {
    color: navy;
    font-family: YuMincho;
}
.spacer {
    padding-bottom: 5%;
    padding-left: 10%;
}
.textcenter {
    text-align: center;
    padding-top: 5%;
    font-family: YuMincho;
    font-size: 20px;
}
.sub_title {
    font-size: x-large;
}
.sub_contentsR {
    padding: 0 10%;
    font-size: 20px;
}

.mapping {
    background: url(../../images/pic/architecture-LightGray.jpg);
    padding: 5px;
}

.mapping h1 {
    position: relative;
    font-weight: bold;
    font-size: 2em;
    font-family: YuMincho;;
    left: 50%;
    // top: 5%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin-top:5%;
    padding:5;
    width: 350px;
    text-align: center;
    }

.mapping p {
  position: relative;
    color: blue;
    font-weight: bold;
    font-size: 0.5em;
    font-family: YuMincho;;
    // top: 9%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    width: 350px;
    text-align: center;
}

.mapping h3 {
  position: relative;
  font-weight: bold;
  font-size: 1em;
  font-family: YuMincho;;
  top: 20%;
  left: 20%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin-top:5%;
  padding:0;
  width: 350px;
  text-align: center;
//   margin-bottom: 5px;
}

.map {
    margin: 10%;
    margin-top: 0%;
    margin-bottom: 50px;
}