.modal-header {
    background-color: whitesmoke;
}

.modal-body {
    background-color: whitesmoke;
}

.modal-footer {
    background-color: whitesmoke;
}

.closeButton {
    color: gray;
}

.revision {
    width: 90px;
}