.required-text {
  color: crimson;
}

.bottom-contents {
  text-align: center;
}

.parent {
	background: url('../../images/pic/architecture-LightGray.jpg');
  padding: 10%;
  // padding-top: 50px;
  width: 100%;
}
