.sub_contents {
    margin: 5% 15%;
    font-family: YuMincho;
}
.main_contentsG span:nth-child(1) {
    color: red;
}
.main_contentsG {
    font-family: YuMincho;
    text-align: center;
    color: black;
    overflow: hidden;
    font-size: 40px;
    border-bottom: 1px solid black;

}