// Base styling for the navbar
#mainNav {
	box-shadow: $box-shadow;
	background-color: #1976D2;
	transition: background-color 0.2s ease;
	.navbar-brand {
		font-family: $font-family-sans-serif;
		font-weight: $font-weight-bold;
		color: $gray-900;
		user-select: none;
	}
	.navbar-nav {
		.nav-item {
			&.active {
				.nav-link {
					color: $primary !important;
				}
			}

			.nav-link {
				color: #BBDEFB;
				font-family: $font-family-sans-serif;
				font-weight: $font-weight-bold;
				font-size: 1.2rem;
				padding: 0.75rem 0;
				user-select: none;
				&:hover,
				&:active {
					color: $primary;
				}
			}
		}
	}
	@include media-breakpoint-up(lg) {
		// Base styling for the navbar - screen sizes greater than the large breakpoint
		box-shadow: none;
		background-color: transparent;
		.navbar-brand {
			color: fade-out(#1976D2, .3);
			&:hover {
				color: #1976D2;
			}
		}
		.navbar-nav {
			.nav-item {
				.nav-link {
					color: #BBDEFB;
					padding: 0 2rem;
					&:hover {
						color: #1976D2;
					}
				}
				&:last-child {
					.nav-link {
						padding-right: 0;
					}
				}
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	// Navbar styling applied when the page is scrolled
	.site-container.navbar-scrolled #mainNav {
		box-shadow: $box-shadow;
		background-color: #1976D2;
		.navbar-brand {
			color: #BBDEFB;
			&:hover {
				color: $primary;
			}
		}
		.navbar-nav {
			.nav-item {
				.nav-link {
					color: #BBDEFB;
					&:hover {
						color: $primary;
					}
				}
			}
		}
	}
}