.footer-display1 {
	display: flex;
}

.footer-display2 {
	display: flex;
	flex-direction: column;
	margin-top: 5%;
	margin-left: 10%;
	margin-bottom: 1%;
}

.footer-bg {
	background-color: #BDBDBD;
	// height: ;
	padding-top: 30px;
}

.footer1 {
	font-family: YuMincho;
	font-size: 1.2rem;
	color: #FFFFFF;
}

.footer2 {
	font-family: YuMincho;
	font-size: 18px;
	color: #FFFFFF;
	margin: 2%;
	text-align: right;
}

.footer3 {
	font-family: YuMincho;
	font-size: 22px;
	color: #FFFFFF;
}

.pagetop-button {
	margin-right: 0%;
}

.logo {
	width: 30%;
	height: 150px;
	margin-top: -150px;
	border-right: 5px solid;
	border-right-style: groove;
	border-color: #FFFFFF;
	margin-bottom: 30px;
}
.logo h1 {
	font-family: YuMincho;
	text-align: center;
	font-size: x-large;
	color: #FFFFFF;
	padding: 10px;
}
.logo h2 {
	font-family: YuMincho;
	text-align: left;
	margin-left: 10px;
	font-size: large;
	color: #FFFFFF;
	padding: 10px;
}
.logo span {
	font-family: YuMincho;
	color: #8BC34A;
}

.rightBox {
	position: relative;
	width: 30%;
	height: 150px;
	margin-left: 65%;
	padding: 10px;
	border-left: 5px solid;
	border-left-style: groove	;
	border-color: #FFFFFF;
}

.copyright {
	position: absolute;
	text-align: center;
	background-color: black;
	color: antiquewhite;
	width: 100%;
	z-index: 3;
	font-family: Yumincho;
}
