.Airplane {
	overflow: hidden;
	user-select: none;
	// margin-top: 50px;
	height: 100vh;
	width: 100%;
}

.bigmessage2 {
	font-size: 100px;
	font-family: YuMincho;
	// margin-top: 10%;
	margin-left: 10%;
	float: left;
}

.bigmessage3 {
	font-size: 100px;
	font-family: YuMincho;
	// margin-top: 10%;
	// margin-left: 10%;
	float: left;
}
.gray {
	filter: invert(50%) sepia(0%) saturate(11%) hue-rotate(143deg) brightness(101%) contrast(93%);
}

.nav-toggle {
	user-select: none;
}

#mainNav h1 {
	font-family: YuMincho;
	color: #FFFFFF;
}
#mainNav span {
	font-family: YuMincho;
	color: #8BC34A;
}